<div class="footer-main">

    <div class="inner-footer-wrapper">
        <div class="upper-row">
            <div class="footer-logo-row">
                <a href="#" title="logo">
                    <img src="../../../assets/images/footer-logo.svg" title="logo" alt="logo"> 
                </a>
            </div>
            <div class="sub-row-after-logo">
                <div class="comman-col">
                    <p>Now, immunization made convenient and reliable with Vaccsynk’s one-stop vaccination management platform. 
                    </p>
                    <!-- <span class="copyright">All Rights Reserved © vaccynsk.com</span> -->
                </div>
                <div class="comman-col second-col"> 
                    <div class="sub-col-in">
                        <span class="footer-label">Links</span>
                        <a class="fot-link" (click)="scrollTo1(sids.HOME)"  title="Home">Home</a>
                        <a class="fot-link" (click)="scrollTo1(sids.ABOUT_US)" title="About">About</a>
                        <a class="fot-link" (click)="scrollTo(sids.TERMS_CON)" title="Terms of Service">Terms of Service</a>
                        <a class="fot-link" (click)="scrollTo(sids.PRIVACY_POLICY)" title="Privacy Policy">Privacy Policy</a>
                    </div>
                    <div class="sub-col-in">
                        <span class="footer-label">Support</span>
                        <a class="fot-link" (click)="scrollTo1(sids.HOW_IT_WORKS)" title="How it's work">How it work</a>
                        <a class="fot-link" (click)="scrollTo1(sids.FEATURES)" title="Features">Features</a>
                        <!-- <a class="fot-link" href="#" title="About">FAQ</a> -->
                    </div>
                    <div class="sub-col-in">
                        <span class="footer-label">Contact Us</span>
                        <a class="fot-link" href="mailto:info@vaccsynk.com" title="info@vaccsynk.com">info@vaccsynk.com</a>
                        <!-- <p style="color: rgba(255, 255, 255, 0.8); font-weight: 100; font-size: 14px;">14183 Catalina St. San Leandro,<br/> CA 94577</p> -->
                    </div>                    
                </div>
                <div class="comman-col third-col"> 
                    <a href="https://apps.apple.com/us/app/vaccsynk/id1552698381" target="_blank" title="apple-store"><img src="../../../assets/images/apple-store.svg" title="apple" alt="apple"/></a>
                    <a href="#" title="android-store"><img src="../../../assets/images/android-store.svg" title="android" alt="android"/></a>

                </div>
            </div>
        </div>
        <div class="lower-row">
            <div class="lower-com-row">
                <div class="btn-group" dropdown [dropup]="isDropup">
                    <button id="button-dropup" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
                            aria-controls="dropdown-dropup">
                      English<span class="caret"></span>
                    </button>
                    <!-- <ul id="dropdown-dropup" *dropdownMenu class="dropdown-menu"
                        role="menu" aria-labelledby="button-dropup">
                      <li role="menuitem"><a class="dropdown-item" href="#">Action</a></li>
                      <li role="menuitem"><a class="dropdown-item" href="#">Another action</a>
                      </li>
                      <li role="menuitem"><a class="dropdown-item" href="#">Something else
                        here</a></li>
                      <li class="divider dropdown-divider"></li>
                      <li role="menuitem"><a class="dropdown-item" href="#">Separated link</a>
                      </li>
                    </ul> -->
                  </div>
            </div>
            <div class="lower-com-row second-row-lower-com">
                All Rights Reserved © 2021 NisheHealthCare Inc.
            </div>
            <div class="lower-com-row">
                <a class="social-icon" href="#" target="blank" title="twitter"><img src="../../../assets/images/twitter.svg"></a>
                <a class="social-icon" href="https://www.facebook.com/Vaccsynk-344373129977122" target="blank" title="facebook"><img src="../../../assets/images/facebook.svg"></a>
                <a class="social-icon linkedin-link" href="https://www.linkedin.com/company/vaccsynk/" target="blank"  title="linkedin"><img src="../../../assets/images/linkedin.svg"></a>
            </div>
            <a id="button"></a>
        </div>
    </div>
</div>
