<div
  class="custom-container registration-form-main user-registration-second-form-main"
>
  <!-- =============heading========================== -->
  <h1 class="small-heading">Book An Appointment</h1>
  <div class="inner-wrapper-main">
    <div  *ngIf="bookingSetting?.currentVaccineCenter" class="main-filter">
      <span class="underline-label">COVID 19 Vaccine Center </span>
      <!-- <input type="text" 
            (keyup)="applyFilter($event)" class="search-filter" name="" id="" aria-describedby="helpId" placeholder="Search" #input> -->
    </div>
    <div class="grid-system-list-main">
      <ng-container *ngIf="!vaccineCenterLoader">
        <div *ngIf="bookingSetting?.currentVaccineCenter; else NoDataFound" class="inner-grid">
          <ngx-avatar class="left" size="60" bgColor="#14649c"
          [name]="bookingSetting?.currentVaccineCenter?.pharmacyName.charAt(0).toUpperCase()">
          </ngx-avatar>
          <div class="right-col">
            <div class="first-row">
              <div class="pharmacy-name">
                {{ bookingSetting?.currentVaccineCenter?.pharmacyName }}
              </div>
              <!-- <mat-checkbox class="example-margin" (change)="onVacCenterSelected(vacCenter)" ></mat-checkbox> -->
              <mat-radio-button [checked]="true" value="2"></mat-radio-button>
            </div>
            <div class="address-img-main">
              <img
                src="../../../assets/images/locations-pins.svg"
                alt="logo"
                title="logo"
              />
              {{ bookingSetting?.currentVaccineCenter?.address }}
            </div>
          </div>
        </div>
        <ng-template #NoDataFound>
          <h3 class="text-center">No Vaccine Center Found...</h3>
        </ng-template>
      </ng-container>

      <div class="item">
        <ngx-skeleton-loader
          *ngIf="vaccineCenterLoader"
          count="1"
          animation="pulse"
          [theme]="{
            height: '135px',
            width: '96%',
            'margin-left': '29px',
            'border-radius': '10px',
            'background-color': 'rgb(127, 140, 141);'
          }"
        ></ngx-skeleton-loader>
      </div>
    </div>
  
    <ng-container  *ngIf="bookingSetting?.currentVaccineCenter"> 
      <div class="heading-row">
        <div class="underline-label">Select Date/Time</div>
        <div class="normal-date">
          <!-- <img src="../../../assets/images/injections.svg" alt="injections" title="injections"> -->
        </div>
      </div>

      <!-- -------------date-picker-row------------------- -->
      <div class="datepicker-row-main">
        <!-- <div class="label-main">Select date to book</div> -->
        <div class="inner-grid-main date-picker-main">
          <input
            readonly
            #scheduleDate
            class="form-control"
          />
         <!-- [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY' }" -->
        </div>
   
      
  
      </div>
      <!-- <label class="select">Select time to book</label> -->
   
      <!-- -=-----select-time-0------ -->
      <div class="time-heading">Available Time Slots</div>
      <div class="time-slot-grid">
        <!-- <div class="inner-grid-system not-avialble">8:00-9:00</div>
            <div class="inner-grid-system available">9:00-10:00</div> -->
        <ng-container *ngFor="let sloat of selectedVacSlotInfo?.slots">
          <div
            (click)="selectSloat(sloat)"
            class="inner-grid-system"
            [ngStyle]="{ 'background-color': sloat.limit == 0 ? '#F2F2F2': ''  }"
            [ngClass]="{ selectedSlot: sloat == selectedSloat }"
          >
            {{ sloat.start }} - {{ sloat.end }}
            <span class="remain-dos-badge">{{(sloat?.limit) ? (sloat?.limit) : '0'}}</span>
          </div>
        </ng-container>
        <!-- (click)="selectSloat(sloat)" -->
        <!-- [ngClass]="{ 'selectedSlot' : sloat == selectedSloat}" -->
      </div>
      <div class="last-button-row">
        <button
          class="back-btn"
          [routerLink]="[AppRoutes.ROOT, AppRoutes.USER_REG_F]"
        >
          Back
        </button>
        <button
          class="next-btn"
          style="cursor: pointer"
          [disabled]="isLoading"
          (click)="onSubmit()"
        >
          <i class="fa" [ngClass]="{ 'fa-spin fa-spinner': isLoading }"></i>
          Submit
        </button>
      </div>
    </ng-container>
  </div>
</div>
