<div [id]="sids.PRIVACY_POLICY" class="privacy-main custom-container">
    <h1 class="heading">Privacy Policy</h1>
    <h2 class="small-heading">Vaccsynk Privacy Policy</h2>
    <p>This privacy policy has been compiled to better serve those who are concerned with how their 'Personally
        Identifiable Information' (PII) is being used online. PII, as described in US privacy law and information
        security, is information that can be used on its own or with other information to identify, contact, or locate a
        single person, or to identify an individual in context. Please read our privacy policy carefully to get a clear
        understanding of how we collect, use, protect, and/or otherwise handle Personally Identifiable Information in
        accordance with our website and/or app(s).</p>

    <div class="second-row-main">
        <h3 class="small-heading">What is the Purpose of the App?</h3>
        <p>Vaccsynk provides an end-to-end COVID-19 vaccination management platform helping individuals secure COVID-19
            vaccines. It connects health systems and providers in managing the complex vaccination journey. Vaccsynk
            provides patients with their COVID-19 care plan, connects their devices, and receives support from providers
            via remote distance monitoring. Upon downloading the Vaccsynk app and inputting information, patients are
            provided status info, estimated vaccination dates, vaccination schedules, follow-up, complication tracking,
            emergency contacts, and support tools – giving patients a firm COVID-19 support system.
        </p>
        <!-- <ul class="main-ul">
            <li>The Internet domain name (for example, “ycompany.com” if a private Internet access account is used, or “schoolname.edu” if connecting from a university’s domain) and IP address (an IP address is a number that is automatically assigned to a device when surfing the web)</li>
            <li>Information about your computer or mobile device (e.g., type and version of web browser, operating system, screen resolution, and connection speed)</li>
            <li>The number of times Vaccsynk’s digital media was accessed</li>
            <li>The pages or screens accessed or visited on Vaccsynk’s digital media</li>
            <li>The visit date and time</li>
            <li>If <a class="link" href="#" title="Vaccsynk.com"> www.vaccsynk.com,</a> is designated as a home page (in the event your mobile device allows this functionality); and</li>
            <li>The internet address or URL of the website visited immediately prior to visiting Vaccsynk’s digital media, but only if you connect to <a class="link" href="#" title="Vaccsynk.com">Vaccsynk.com</a>  via a link from any web page within that website.</li>

        </ul> -->

    </div>
    <h2 class="heading">What personal information do we collect from the people that visit our blog, website, or app(s)?
    </h2>
    <p>When you register on our website and/or App(s), the following information is collected from you: Name, Email ID,
        Mailing Address (Location), Phone Number, Date of Birth, Camera, Photos, Images, Files, and/or Other details.
    </p>
    <div class="second-row-main">
        <h3 class="small-heading">When do we collect information?</h3>
        <p>We collect information from patients when they register on our site, fill out a form, use our website and/or
            app(s).</p>
    </div>
    <div class="second-row-main">
        <h3 class="small-heading">How do we use patient information?</h3>
        <ul class="a">
            <p>We may use the information we collect from patients when they register, make a purchase, sign up for our
                newsletter, respond to a survey or marketing communication, surf the website, use our app(s), and/or
                make
                use of certain other site and/or app features in the following ways:<br><br>


                <li class="sec-1">
                    The personal information collected from the user at the time of registration on a website and/or
                    app(s) is
                    used to help patients with their vaccination experience and/or to provide the information required
                    by the
                    appropriate Public Health Services Agency whenever asked by them.</li>
                <li class="sec-1">To personalize the patient experience and to allow us to deliver the type of content
                    and product offerings
                    in which patients are most interested.</li>
                <li class="sec-1">To allow us to better service patients in responding to customer service requests.
                </li>
                <li class="sec-1"> To quickly process scheduling, location services, and other transactions.<br>
                    To send periodic emails regarding the patient experience and/or other products and services.</li>
            </p>
        </ul>
    </div>
    <div class="second-row-main">
        <h3 class="small-heading">What permissions does a user need to give while accessing the mobile app?</h3>
        <ul class="a">
        <p>While using the mobile app, the user needs to give permission to access the following information to the app:<br><br>
           <li class="sec-1">Photos / Media / Files / Storage:
            read the contents of your device storage for photos</li> 
            <li class="sec-1">Camera:
            - take pictures to add to your profile in the app
        </li>
        </p>
    </ul>
    </div>

    <div class="second-row-main">
        <h3 class="small-heading">How do we protect patient information?</h3>
        <p>We do not use vulnerability scanning and/or scanning to PCI standards.
            We only provide articles and information. We never ask for credit card numbers. We use regular Malware
            Scanning.
            Personal information is contained behind secured networks and is only accessible by a limited number of
            persons who have special access rights to such systems, and are required to keep the information
            confidential. In addition, all sensitive information patients supply is encrypted via Secure Socket Layer
            (SSL) technology.
            We implement a variety of security measures when a user enters, submits, or accesses their information to
            maintain the safety of their personal information.
            All transactions are processed through a gateway provider and are not stored or processed on our servers.
        </p>
    </div>

    <h2 class="heading">Do we use 'cookies'?</h2>
    <p>Yes. Cookies are small files that a site or its service provider transfers to a user’s computer's hard drive
        through a Web browser (if allowed) that enables the site's or service provider's systems to recognize the user’s
        browser and capture and remember certain information. They are also used to help us understand user preferences
        based on previous or current site activity, which enables us to provide users with improved services. We also
        use cookies to help us compile aggregate data about site traffic and site interaction so that we can offer
        better site experiences and tools in the future.
    </p>

    <div class="second-row-main">
        <h3 class="small-heading">We use cookies to:</h3>
        <p>Understand and save user preferences for future visits.
            Compile aggregate data about site traffic and site interactions in order to offer better site experiences
            and tools in the future. We may also use trusted third-party services that track this information on our
            behalf.
            Users can choose to have their computer warn them each time a cookie is being sent, or they can choose to
            turn off all cookies. Users can do this through their browser settings. Since each browser is a little
            different, users should look at their browser's Help Menu to learn the correct way to modify cookies.
            If a user turns cookies off, some of the features that make the site experience more efficient may not
            function properly.
        </p>
    </div>
    <div class="second-row-main">
        <h3 class="small-heading">Third-party disclosure</h3>
        <p>We do not sell, trade, or otherwise transfer to outside parties any Personally Identifiable Information.
        </p>
    </div>

    <div class="second-row-main">
        <h3 class="small-heading">How does our site handle Do Not Track signals?</h3>
        <p>We honor Do Not Track signals, and we Do Not Track, plant cookies, or use advertising when a Do Not Track
            (DNT) browser mechanism is in place.

        </p>
    </div>
    <div class="second-row-main">
        <h3 class="small-heading">Does our site allow third-party behavioral tracking?</h3>
        <p>It's also important to note that we do not allow third-party behavioral tracking.
        </p>
    </div>
    <!-- <div class="second-row-main">
        <h3 class="small-heading">Form Information:</h3>
        <p>We may use forms to request certain information from you on the Websites, 
            such as your contact information to assist with contacts or service requests. 
            This information may include personal data. 
        </p>
    </div>
    <div class="second-row-main">
        <h3 class="small-heading">Information We Collect Automatically:</h3>
        <p>We use automatic data collection and analytics technologies to collect aggregate and user-specific information about your equipment, 
            domain name, patterns of use, communication data and the resources that you access and use on the Websites, including your IP address, 
            browsing and navigation patterns. This information is used to improve our Websites. 
            We process information collected automatically on the legal basis of Vaccsynk’s legitimate interests in assessing the use of its Websites. 
            Information we collect automatically through your use of the Websites includes:
        </p>
        <p><b>Cookies, Web Beacons, Links, And Other Tracking Technologies: </b>
            Vaccsynk may keep track of how you use and interact with the Websites through the use of cookies, 
            web beacons, links, and other tracking technologies. We do this to help analyze the use of and improve the Websites. 
            Through these technologies, we may automatically collect information about your use of the Websites and other online activities, 
            including our email correspondences, third-party services, and client applications, and certain online activities after you leave the Websites. 
            Link information is generally only analyzed on an aggregate basis. Some Websites may not function properly if you disable 
        </p>
        <p>cookies. Such data may include analytics information, sites visited before visiting the Websites, 
            browser type, operating system, and tracking of your interactions with our content and emails. 
        </p>
        <p>We partner with third parties to manage our advertising on other sites. 
            Our third-party partners may use cookies or similar technologies in order to provide you with advertising based upon your browsing activities and interests. 
        </p>
        <p><b>Unique Identifiers:</b> When you use or access the Websites, we may access, collect, monitor, store on your device, and/or remotely store one or more "Unique Identifiers," such as a universally unique identifier ("UUID"). A Unique Identifier may remain on your device persistently, to help you log in faster and enhance your navigation through the Websites. Some features of the Websites may not function properly if the use or availability of Unique Identifiers is impaired or disabled. </p>
        <p><b>Analytics Information:</b> We use data analytics to ensure site functionality and improve the Websites. We use mobile analytics software to allow us to understand the functionality of the Websites on your phone. This software may record information such as how often you use the Websites, what happens within the Websites, aggregated usage, performance data, app errors and debugging information, and where the Websites were downloaded from. We do not link the information we store within the analytics software to any personally identifiable information that you submit within the mobile application. </p>
        <p><b>Log File Information:</b> When you use our Websites, we may receive log file information such as your IP address, browser type, access times, domain names operating system, the referring web page(s), pages visited, location, your mobile carrier, device information (including device and application IDs), search terms, and cookie information. We receive log file data when you interact with our Websites, for example, when you visit our websites, sign into our Websites, or interact with our email notifications. Vaccsynk uses log file data to provide, understand, and improve our Websites, and to customize the content we show you. Vaccsynk may link this log file to other information the Vaccsynk collects about you via the Websites. </p>
        <p><b>Public Information:</b> Vaccsynk may also collect information about you from publicly available sources. Information you make publicly available in any public or open forum, such as on a social network, may be considered public information for the purposes of this Privacy Notice and may be accessed and collected by the Vaccsynk. Please be aware that any content or information you share with or provide to third parties using or related to your use of the Websites is neither private nor confidential. The Vaccsynk is not responsible for any content or information you post or share with third parties. If you do not wish for certain information to be public, please do not share it publicly.</p>
    </div>
    <div class="second-row-main">
        <h3 class="small-heading">­­­Information Use</h3>
        <p>Vaccsynk uses the information we receive about you for the purposes described in this Privacy Notice. We process personal data received about you through our Websites on the legal basis of Vaccsynk’s legitimate interests in providing the Websites and their functionality to you. Such processing is necessary for the purposes of the legitimate interests pursued by Vaccsynk or by our Service Providers related to the Websites. Where appropriate, we may rely on alternate legal bases, such as your consent to certain types of processing.</p>
    </div>
    <div class="second-row-main">
        <h3 class="small-heading">­­­­­­­Information Sharing</h3>
        <p>When you access or use the Websites, we collect, use, share, and otherwise process your personal information as described in this Privacy Notice. Vaccsynk  will not share, sell, rent, or otherwise disclose your private personal information to third parties without your consent, except in the limited circumstances described in this Privacy Notice, including to:</p>
        <p><b>Aggregated Non-Personal Data:</b> We may disclose aggregated, non-personal data received from providing the Websites, including information that does not identify any individual, without restriction. Vaccsynk may share demographic information with business partners, but it will be aggregated and de-personalized, so that personal information is not revealed. </p>
        <p><b>Within The Vaccsynk:</b> We may share and process information internally within Vaccsynk and with our subsidiaries and affiliates. Vaccsynk personnel may have access to your information as needed to provide and operate the Websites in the normal course of business. This includes information regarding your use and interaction with the Websites.</p>
        <p><b>Service Providers: </b>Vaccsynk works with various organizations and individuals to help provide the Websites to you ("Service Providers"), such as website and data hosting companies and companies providing analytics information, like Google Analytics. Vaccsynk needs to engage such third-party Service Providers to help us operate, provide, and market the Websites. These third parties have only limited access to your information and may use your information only to perform these tasks on our behalf. Information we share to our Service Providers may include both information you provide to us and information we collect about you, including personal data and information from data collection tools like cookies, web beacons, and log files.</p>
        <p>Vaccsynk takes reasonable steps to ensure that our Service Providers are obligated to reasonably protect your information on Vaccsynk’s behalf. If Vaccsynk becomes aware that a Service Provider is using or disclosing information improperly, we will take commercially reasonable steps to end or correct such improper use or disclosure. </p>
        <p>We share personal information with our Service Providers on the legal basis of theVaccsynk’s legitimate interests in providing you with the Websites. Our engagement of Service Providers is often necessary for us to provide the Websites to you, particularly where such companies play important roles like helping us keep our Websites operating and secure. In some other cases, these service providers aren't strictly necessary for us to provide the Websites, but help us make it better, like by helping us conduct research into how we could better serve our users. In these latter cases, we have a legitimate interest in working with service providers to make our Websites better. </p>
        <p><b>Business Transactions:</b> Vaccsynk may purchase other businesses or their assets, sell our business assets, or be involved in a bankruptcy, merger, acquisition, reorganization or sale of assets (a "Business Transaction"). Your information, including personal data, may be among assets sold or transferred as part of a Business Transaction. </p>
        <p><b>Safety and Lawful Requests:</b> We may be required to disclose Websites user information pursuant to lawful requests, such as subpoenas or court orders, or in compliance with applicable laws. We generally do not disclose user information unless we have a good faith belief that an information request by law enforcement or private litigants meets applicable legal standards. We may share your information when we believe it is necessary to comply with applicable laws, to protect our interests or property, to prevent fraud or other illegal activity perpetrated through the Websites or using Vaccsynk name, or to protect the safety of any person. This may include sharing information with other companies, lawyers, agents, or government agencies. Nothing in this Privacy Notice is intended to limit any legal defenses or objections that you may have to a third party, including a government's request to disclose your information.</p>
    </div> -->
    <div class="second-row-main">
        <h3 class="heading"> COPPA (Children Online Privacy Protection Act)</h3>
        <p>When it comes to collecting personal information from children under the age of 13 years old, the Children's
            Online Privacy Protection Act (COPPA) puts parents in control. The Federal Trade Commission, which is the
            United States' consumer protection agency, enforces the COPPA Rule, which spells out what operators of
            websites and online services must do to protect children's privacy and safety online. We do not specifically
            market to children under the age of 13 years old.
        </p>
    </div>
    <div class="second-row-main">
        <h3 class="small-heading">­­­Fair Information Practices</h3>
        <ul class="a">
            <p>The Fair Information Practices Principles form the backbone of privacy law in the United States, and the
                concepts they include have played a significant role in the development of data protection laws around
                the
                globe.
                Understanding the Fair Information Practice Principles and how they should be implemented is critical to
                comply with the various privacy laws that protect personal information.
                In order to be in line with Fair Information Practices, we will take the following responsive action,
                should
                a data breach occur:
                We will notify users via email:<br><br>
                <li class="sec-1">Within 7 business days</li>
                <li class="sec-1">We will notify the users via in-site notification:</li>
                <li class="sec-1"> Within 7 business days</li>

            </p>
            <p>We also agree to the Individual Redress Principle which requires that individuals have the right to
                legally
                pursue enforceable rights against data collectors and processors who fail to adhere to the law. This
                principle requires not only that individuals have enforceable rights against data users, but also that
                individuals have recourse to courts or government agencies to investigate and/or prosecute
                non-compliance by
                data processors.</p>
        </ul>
    </div>


    <h3 class="heading">CAN-SPAM Act</h3>
    <div class="second-row-main">
        <p>The CAN-SPAM Act is a law that sets the rules for commercial email, establishes requirements for commercial
            messages, gives recipients the right to have emails stopped from being sent to them, and spells out tough
            penalties for violations.
            We collect user email addresses in order to: </p>
            <p><b>Send information, respond to inquiries, and/or other requests or questions</b></p>
            <ul class="a">   
                <li class="sec-1">To be in accordance with CAN-SPAM, we agree to the following:</li>
                <li class="sec-1">Not use false or misleading subjects or email addresses.</li>
                <li class="sec-1">Identify the message as an advertisement in some reasonable way.</li>
                <li class="sec-1">Include the physical address of our business or site headquarters.</li>
                <li class="sec-1"> Monitor third-party email marketing services for compliance, if one is used.</li>
                <li class="sec-1"> Honor opt-out/unsubscribe requests quickly.</li>
                <li class="sec-1">Allow users to unsubscribe by using the link at the bottom of each email.</li><br>
            </ul>


            <p>If at any time a user would like to unsubscribe from receiving future emails:<br>
                They can email us at <a href="mailto:info@vaccsynk.com" title="info@vaccsynk.com" class="link">info@vaccsynk.com</a><br>
                By following the instructions at the bottom of each email, we will promptly remove a user from ALL
                correspondence.</p>

    </div>
    <div class="second-row-main">
        <h3 class="small-heading">Contact Vaccsynk</h3>
         <p>Nishe Health<br/>
        <a href="mailto:info@vaccsynk.com" title="info@vaccsynk.com" class="link">info@vaccsynk.com</a>
        </p>
    </div>
</div>