.heading {
    font-size: 35px;
    line-height: 55px;
    color: #14649c;
    margin-bottom: 30px;
    
}

.privacy-main {
    margin-top: 40px;
    margin-bottom: 100px;
}

.small-heading {
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    color: #333333;
    margin-bottom: 17px;
}

p{
    font-size: 16px;
    line-height: 25px;
    color: rgba(51, 51, 51, 0.8);
    margin-bottom: 20px;
}

a {
    color: #14649c !important;
    cursor: pointer !important;
    text-decoration: underline !important;
}

.second-row-main {
    margin-top: 40px;
}

ul.main-ul{
    li{
        position: relative;
        padding-left: 20px;
        margin-bottom: 15px;
        font-size: 16px;
        line-height: 25px;
        color: rgba(51, 51, 51, 0.8);
        &::before{
            position: absolute;
            content: '';
            background: #14649C;
            width: 9px;
            height: 9px;
            left: 0;
            top: 8px;
            border-radius: 2px;
        }
    }
}



b {
    font-weight: bold;
    color: #333;
}

.last-text-main {
    font-size: 16px;
    line-height: 28px;
    text-transform: capitalize;
    color: #333333;
    margin-top: 50px;
}

ul.a {
    list-style-type: circle;
  }
  li.sec-1 {
    margin-left: 29px;
}