// ----Media query mixin-----------//
@mixin min-mq($min-screen-size) {
    @media (min-width: $min-screen-size +"px") {
        @content;
    }
}

@mixin max-mq($max-screen-size) {
    @media (max-width: $max-screen-size +"px") {
        @content;
    }
}

// ----------------------------For Orientation-----------------------//
@mixin landscape-orientation($max-screen-size,
    $orientation) {
    @media (max-width: $max-screen-size +"px") and (orientation: $orientation) {
        @content;
    }
}

@mixin btw-mq($min-screen-size,
    $max-screen-size,
    $pixel-ratio,
    $orientation) {
    @media only screen and (min-width: $min-screen-size +"px") and (max-width: $max-screen-size +"px") and (-webkit-min-device-pixel-ratio: $pixel-ratio) and (orientation: $orientation) {
        @content;
    }
}

// ------------END of Media Screen Mixing--------------//
.small-heading {
    font-weight   : 500;
    font-size     : 18px;
    line-height   : 25px;
    color         : #14649C;
    border-bottom : 1px solid #E5E5E5;
    padding-bottom: 20px;
    margin-bottom : 30px;
}

.underline-label {
    display        : inline-block;
    margin-bottom  : 20px;
    font-weight    : 500;
    font-size      : 18px;
    line-height    : 25px;
    text-decoration: underline;
    color          : #14649C;
}


.registration-form-main {
    margin-top   : 50px;
    margin-bottom: 100px;
}

.form-heading {
    margin-bottom: 20px;
    margin-top   : 10px;
    font-weight  : 500;
    font-size    : 17px;
    line-height  : 25px;
    color        : #333;
}

.inner-wrapper-main {
    padding: 0px 30px;

    @include max-mq(1300) {
        padding: 0px 20px;
    }

    .main-grid-system-forms {
        display              : grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap      : 20px;
        grid-row-gap         : 25px;
        margin-bottom        : 20px;
        padding-bottom       : 20px;
        border-bottom        : 1px solid #e5e5e5;

        @include max-mq(991) {
            grid-template-columns: repeat(1, 1fr);
        }

        .inner-grid-main {
            display    : flex;
            align-items: center;
            position   : relative;

            .show-error {
                position: absolute;
                left    : 35%;
                bottom  : -20px;

                small {
                    display       : block;
                    width         : auto;
                    // background: red;
                    color         : #fff;
                    padding       : 2px 10px;
                    border-radius : 10px;
                    font-size     : 0px;
                    text-transform: capitalize;
                    line-height   : 1;
                }
            }

            .horizantal-radio-buttons {
                display: flex;

                .inner-grid-system {
                    display    : flex;
                    align-items: center;
                    position   : relative;

                    label {
                        margin-bottom : 0;
                        font-size     : 15px;
                        line-height   : 19px;
                        letter-spacing: 0.02em;
                        margin-left   : 9px;
                        color         : #333;
                        cursor        : pointer;
                        margin-right  : 35px;

                        @include max-mq(1300) {
                            margin-right: 15px;
                        }
                    }

                    input {
                        width : 0px;
                        height: 0px;
                        cursor: pointer;
                    }
                }
            }

            .form-label {
                width         : 35%;
                margin-bottom : 0;
                font-size     : 15px;
                line-height   : 22px;
                letter-spacing: 0.02em;
                color         : #333;

                @include max-mq(991) {
                    font-size: 12px;
                }
            }

            input {
                width        : 60%;
                border       : 1px solid #CFD0D1;
                border-radius: 5px;
                padding      : 10px 15px;
                outline      : none;
            }
        }
    }
}

.date-picker-main {
    position: relative;

    &::before {
        position       : absolute;
        content        : '';
        // background: url(../../../assets/images/date-picker-main.svg) no-repeat;
        background-size: 18px;
        width          : 20px;
        height         : 19px;
        top            : 0px;
        bottom         : 0px;
        right          : 8%;
        margin         : auto;
        display        : none;
    }
}



.after-form-text {
    font-weight: 500;
    font-size  : 17px;
    line-height: 25px;
    color      : #333;
}

.red-text {
    color        : #ED1F23;
    margin-bottom: 30px;
}

.under-line-title-black {
    font-size           : 16px;
    line-height         : 20px;
    letter-spacing      : 0.02em;
    text-decoration-line: underline;
    color               : #333;
    font-weight         : 500;
    margin-bottom       : 20px;
}

.radio-btn-group-main {
    display              : grid;
    grid-template-columns: repeat(5, auto);
    grid-row-gap         : 13px;
    grid-column-gap      : 20px;
    margin-bottom        : 30px;
    position             : relative;

    @include max-mq(1300) {
        grid-template-columns: repeat(4, auto);
    }

    @include max-mq(991) {
        grid-template-columns: repeat(2, auto);
    }

    .show-error {
        position: absolute;
        color   : #ED1F23;
        display : block;
        top     : 105%;
    }

    .inner-grid-system {
        display    : flex;
        align-items: center;
        position   : relative;

        label {
            margin-bottom : 0;
            font-size     : 13px;
            line-height   : 19px;
            letter-spacing: 0.02em;
            margin-left   : 9px;
            color         : #333;
            cursor        : pointer;

            @include max-mq(991) {
                font-size: 10px;
            }
        }

        input {
            width   : 20px;
            height  : 20px;
            cursor  : pointer;
            position: relative;
            left    : 50px;

        }
    }
}

.border-none {
    border : none !important;
    padding: 0 !important;
}

.short-text-in {
    font-size     : 15px;
    line-height   : 19px;
    letter-spacing: 0.02em;
    color         : #333;
    margin-bottom : 30px;
    margin-top    : 40px;
}

.yes-no-radio {
    grid-template-columns: repeat(2, 1fr) !important;
    width                : 20%;
}

.are-radio-btn {
    display      : flex;
    align-items  : center;
    margin-bottom: 20px;
    position     : relative;

    .show-error {
        position: absolute;
        left    : 36%;
        bottom  : -20px;

        small {
            color  : #ED1F23;
            display: block;
        }
    }

    .or-text {
        margin        : 0px 20px;
        font-size     : 15px;
        line-height   : 19px;
        text-align    : center;
        letter-spacing: 0.02em;
        color         : #959596;

        @include max-mq(991) {
            font-size: 12px;
        }
    }

    .inner-grid-system {
        display    : flex;
        align-items: center;
        position   : relative;

        label {
            margin-bottom : 0px;
            margin-right  : 10px;
            font-size     : 15px;
            line-height   : 19px;
            letter-spacing: 0.02em;
            color         : #333;
            cursor        : pointer;

            @include max-mq(991) {
                font-size: 12px;
            }

            span {
                color: #14649C;
            }
        }

        input {
            width  : 20px;
            height : 20px;
            cursor : pointer;
            opacity: 0;
        }
    }
}

.insu-info-main {
    border-top    : 1px solid #E5E5E5;
    border-bottom : 1px solid #E5E5E5;
    margin-bottom : 20px;
    padding-bottom: 15px;
}

.comman-row {
    display        : flex;
    justify-content: space-between;
    align-items    : center;
    margin-bottom  : 20px;

    .left-text-col {
        width         : 100%;
        display       : flex;
        font-size     : 15px;
        line-height   : 19px;
        letter-spacing: 0.02em;
        color         : #333333;

        .left-col-1 {
            width: 50%;
        }

        .left-col-2 {
          

            .progress {
                width       : 50%;
                float       : right;
                margin-right: 40px;
            }
        }
    }

    .right-col-main {
        position   : relative;
        display    : flex;
        align-items: center;

        span.upload-main {
            margin-right: 24px;
        }

        input {
            position: absolute;
            width   : 110px;
            cursor  : pointer;
            z-index : 999;
            opacity : 0;
        }

        span.tag-upload {
            display        : flex;
            align-items    : center;
            background     : rgba(20, 100, 156, 0.15);
            border-radius  : 22.5px;
            padding        : 12px 35px;
            justify-content: space-around;
            cursor         : pointer;
            font-weight    : 500;
            font-size      : 15px;
            line-height    : 19px;
            text-align     : center;
            letter-spacing : 0.02em;
            color          : #14649C;

            img {
                margin-left: 15px;
                width      : 15px;
                position   : relative;
                top        : -1px;
            }
        }
    }
}

.required-filed {
    margin-top   : 30px;
    font-weight  : 500;
    font-size    : 18px;
    line-height  : 25px;
    color        : #333;
    margin-bottom: 20px;

    span {
        color       : red;
        margin-right: 4px;
    }
}

.are-primary-card-hold {
    display    : flex;
    align-items: center;

    .req-red-card {
        margin-right: 20px;

        span {
            color: red;
        }
    }

    .right-grid-col {
        display              : grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap      : 20px;

        .inner-grid-system {
            display    : flex;
            align-items: center;

            input {
                width : 20px;
                height: 20px;
            }

            label {
                margin-bottom: 0;
                margin-left  : 6px;
                cursor       : pointer;

                &::after {
                    left: 23px;
                }
            }
        }
    }
}

.second-dob-main {
    display      : block;
    align-items  : center;
    margin-top   : 10px;
    margin-bottom: 30px;

    .class-req-red {
        margin-right   : 20px;
        width          : auto;
        display        : inline-block;
        font-weight    : 500;
        text-decoration: underline;
        margin-bottom  : 25px;
        color          : #333333;
        font-size      : 16px;
        position       : relative;

        span {
            color   : red;
            position: absolute;
            right   : -10px;
        }
    }

    .date-picker-main {
        width: 25%;

        &::before {
            right: 6%;
        }
    }
}

.select-insurance-type {
    .radio-btn-group-main {
        margin-bottom: 0;
        width        : 60%;
    }
}

.card-holder-main {
    margin-top: 40px;
}

span.red-color {
    color: red !important;

}

img.inner-upload-main {
    padding: 1px 6px;
}

.medicare-text-field {
    margin-top    : 20px;
    margin-bottom : 20px;
    padding-bottom: 20px;
    border-bottom : 1px solid #e5e5e5;

    input {
        margin-top   : 22px;
        width        : 23%;
        border       : 1px solid #CFD0D1;
        border-radius: 5px;
        padding      : 10px 15px;
        outline      : none;
    }
}

.uninsured-text {
    color        : #333;
    font-size    : 16px;
    font-weight  : 500;
    margin-bottom: 20px;
}

.terms-condition {
    margin-left  : 23px;
    margin-bottom: 30px;
}

.social-num-main {
    margin-bottom: 20px;
    display      : flex;
    align-items  : center;

    input {
        border       : 1px solid #CFD0D1;
        border-radius: 5px;
        padding      : 10px 15px;
        outline      : none;
        width        : 30%;
        margin       : 0px 30px;
    }
}

.radio-row-main {
    display        : flex;
    align-items    : center;
    justify-content: space-between;
    margin-bottom  : 15px;

    .left-col-main {
        display       : flex;
        // align-items: center;
        width         : 50%;
        font-weight   : 400 !important;
        color         : #333;

        span {
            margin-right: 5px;
            width       : 15px;
        }
    }

    .right-col {
        grid-template-columns: repeat(3, auto);
        margin-bottom        : 0;
    }
}

.if-yes {
    display      : flex;
    align-items  : center;
    margin-left  : 20px;
    margin-top   : 8px;
    margin-bottom: 30px;

    @include max-mq(991) {
        flex-direction: column;
    }

    .if-yes-text {
        margin-right: 20px;
        width       : 18%;

        @include max-mq(991) {
            width: 100%;
        }
    }
}

.main-radio-combo {
    margin-bottom : 30px;
    padding-bottom: 30px;
    border-bottom : 1px solid #e5e5e5;
}

.consent-service {
    margin-bottom : 30px;
    font-size     : 15px;
    line-height   : 19px;
    letter-spacing: 0.02em;
    color         : #333;

    b {
        font-weight: 700;
    }
}

.main-second-last-div {
    display              : grid;
    grid-template-columns: repeat(3, 1fr);
    width                : 100%;
    grid-column-gap      : 30px;
    margin-bottom        : 30px;
    padding-bottom       : 30px;
    border-bottom        : 1px solid #e5e5e5;

    textarea.text-area {
        border       : 1px solid #ced4da;
        border-radius: 5px;
        resize       : none;
        height       : 62px;
    }

    .date-picker-main {
        &::before {
            top  : -119px;
            right: 19px;
        }
    }
}

.if-sign-text {
    margin-bottom: 30px;
    font-size    : 15px;
    line-height  : 19px;
    color        : #333;
    font-weight  : 500;
}

.last-button-row {
    text-align: right;
    margin-top: 40px;

    button {
        padding      : 10px 40px;
        font-size    : 15px;
        background   : none;
        border       : 1px solid #14649C;
        box-sizing   : border-box;
        border-radius: 5px;
    }

    button.back-btn {
        margin-right: 10px;
        color       : #14649C;
    }

    button.next-btn {
        background: #14649c !important;
        color     : #ffff;
    }
}

#signaturePad {
    border: 2px solid lightgrey;
}

.signature_progress {
    position: relative;
    top     : 50px;
    height  : 20px;
}

.progress-bar-striped {
    background-color: #14649C !important;
}

.progress-bar.active,
.progress.active .progress-bar {
    -webkit-animation: progress-bar-stripes 2s linear infinite !important;
    -o-animation     : progress-bar-stripes 2s linear infinite !important;
    animation        : progress-bar-stripes 2s linear infinite !important;
}

.new-div-added {
    padding-bottom: 50px !important;
    position      : relative;
}


.sign-main {
    display        : flex;
    justify-content: flex-end;
    margin-top     : 10px;

    .upload-main {
        margin-right: 23px;
        line-height : 30px;
    }
}

.clear-btn-ab {
    // position: absolute;
    display      : none;
    bottom       : 10px;
    left         : 58.5%;
    background   : #14649c;
    border       : 1px solid #14649c;
    color        : #fff;
    padding      : 6px 20px;
    border-radius: 5px;
}


.inner-grid-system {
    position: relative;
}


.radio-btn-group-main .inner-grid-system input {
    width   : 0px;
    height  : 0px;
    cursor  : pointer;
    position: relative;
    left    : 0;
}

input[type="radio"] {
    opacity: 0;
}

input[type="radio"]+ ::before {
    content       : "";
    display       : inline-block;
    vertical-align: bottom;
    width         : 21px;
    height        : 21px;
    margin-right  : 0.3rem;
    border-radius : 50%;
    border-style  : solid;
    border-width  : 0.1rem;
    border-color  : gray;
    left          : -8px !important;
    position      : relative;
}

input[type="radio"]:checked+ ::after {
    background   : #14649c;
    position     : absolute;
    content      : '';
    width        : 11px;
    height       : 11px;
    left         : 6px;
    border-radius: 100%;
    top          : 0px;
    bottom       : 0;
    margin       : auto;
}

.main-inner-sm {

    margin-right: 25px; 
    margin-left: auto;
    input[type="radio"]:checked+ ::after {

        left: 19px !important;

    }
}

.signature-main {
    border       : 1px dashed #CFD0D1;
    padding      : 14px 0px;
    border-radius: 5px;
}

.signature-text {
    text-align: center;
    color     : #959596;
    padding   : 12px;
}

.signature-main-inner {
    display        : flex;
    justify-content: center;
    padding        : 12px;
}


button.browse-btn-ab {
    bottom       : 10px;
    left         : 58.5%;
    background   : #14649c;
    border       : 1px solid #14649c;
    color        : #fff;
    padding      : 6px 20px;
    border-radius: 5px;
    margin       : auto !important;
    display      : flex;
}

// input.ng-invalid {
//     border: 1px solid red !important;
// }

// input[type=radio].ng-invalid + label:before {
//     border-color: red !important;
// }

//  small{
//      font-size: 0;
//  }

.is-invalid {
    border: 1px solid red !important;
}

input[type=radio].is-invalid-radio+label::before {
    outline     : red;
    border-color: red !important;
}

label::before+input[type=radio].is-invalid-radio {
    outline     : red;
    border-color: red !important;
}

.show-error {
    display: none;
}

.new-radio-cust-main {
    .inner-grid-system {
        label {
            padding-right: 30px;
        }
    }
}

.new-radio-cust-main input[type=radio]+label::before {
    position: absolute !important;
    right   : 0px !important;
    left    : auto !important;
}

.new-radio-cust-main input[type=radio]:checked+label::after {
    left  : auto;
    top   : 1.5px;
    bottom: 0;
    margin: auto;
    right : 10px;
    width : 10px;
    height: 10px;
}

.new-radio-cust-main input[type=radio] {
    position: absolute;
    left    : auto;
    right   : 5px;
}

input[readonly] {
    background-color: transparent;
}

h1.underline-label-feedback {
    display        : inline-block;
    margin-bottom  : 20px;
    margin-left    : 31px;
    font-weight    : 500;
    font-size      : 18px;
    line-height    : 25px;
    text-decoration: underline;
    color          : #14649C;
}

.is-invalid+.signature-main {
    border: 1px dashed red !important;
}

span.upload-main {
    display: none;
}


.unstyled::-webkit-inner-spin-button,
.unstyled::-webkit-calendar-picker-indicator {
    display           : none;
    -webkit-appearance: none;
}

.under-line-title-black {
    width   : auto;
    display : inline-block;
    position: relative;
}

.under-line-title-black span.red-color {
    position: absolute;
    right   : -10px;
}