
// ----Media query mixin-----------//
@mixin min-mq($min-screen-size) {
    @media (min-width: $min-screen-size +"px") {
    @content;
    }
    }
    
    @mixin max-mq($max-screen-size) {
    @media (max-width: $max-screen-size +"px") {
    @content;
    }
    }
    
    // ----------------------------For Orientation-----------------------//
    @mixin landscape-orientation($max-screen-size,
    $orientation) {
    @media (max-width: $max-screen-size +"px") and (orientation: $orientation) {
    @content;
    }
    }
    
    @mixin btw-mq($min-screen-size,
    $max-screen-size,
    $pixel-ratio,
    $orientation) {
    @media only screen and (min-width: $min-screen-size +"px") and (max-width: $max-screen-size +"px") and (-webkit-min-device-pixel-ratio: $pixel-ratio) and (orientation: $orientation) {
    @content;
    }
    }   

.register-page-main {
    margin-top: 60px;
    margin-bottom: 100px;
    @include max-mq(567){
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .small-heading {
        padding: 0px 30px;
        margin-bottom: 30px;
        border-bottom: 1px solid #E5E5E5;
        padding-bottom: 20px;
        @include max-mq(567){
            padding: 0px;
        }
    }
    form.register-form {
        width: 100%;
        padding: 0px 30px;
        @include max-mq(567){
            padding: 0px 0px;
        }
        .comman-row {
            display: flex;
            align-items: center;
            margin-bottom: 30px;
            position: relative;
            @include max-mq(567){
                flex-direction: column;
                align-items: self-start;
            }
            label {
                margin-bottom: 0;
                width: 40%;
                font-size: 16px;
                line-height: 20px;
                color: #333;
                @include max-mq(1400){
                    width: 45%;
                    font-size: 13px;
                }
                @include max-mq(991){
                    width:30%;
                }
                @include max-mq(567){
                    width: 100%;
                }
                span{
                    color: red;
                }
            }
            input[type="text"] {
                width: 60%;
                padding: 9px 15px;
                border: 1px solid #CFD0D1;
                border-radius: 5px;
                outline: none !important;
                @include max-mq(991){
                    width:70%;
                }
                @include max-mq(567){
                    width: 100%;
                }
            }
            .show-error {
                position: absolute;
                left: 40%;
                right: 0;
                bottom: -21px;
                @include max-mq(991){
                    left: 30%;
                }
                @include max-mq(567){
                    left: 0;
                }
            
                small {
                    color: red;
                    display: block;

                }
            }
         
        }
       
        
    }
    .text-right {
        // width: 45%;
        // padding: 0px 30px;
        margin-top: 30px;
    }
}


.add-label {
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 30px;
    color: #333333;
    text-decoration: underline;
    margin-top: 30px;
}

.main-inn-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 70px;
    @include max-mq(1500){
        grid-column-gap: 50px;
    }
    @include max-mq(1400){
        grid-column-gap: 30px;
    }
    @include max-mq(991){
        grid-template-columns: repeat(1, 1fr);
    }
}

.grid-system-inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 70px;
    @include max-mq(1500){
        grid-column-gap: 50px;
    }
    @include max-mq(1400){
        grid-column-gap: 30px;
    }
    @include max-mq(991){
        grid-template-columns: repeat(1, 1fr);
    }
}
.is-invalid {
    border: 1px solid red !important;
}
input[type=radio].is-invalid-radio + label::before {
    outline: red;
    border-color: red !important;
}
label::before + input[type=radio].is-invalid-radio {
    outline: red;
    border-color: red !important;
}
.show-error {
    display: none;
}


.alert-main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px !important;
}
.alert.alert-success.alert-dismissible.ng-star-inserted {
    width: 50% !important;
    display: flex !important;
    justify-content: center !important;
    margin: 0 auto !important;
 
}