<div [id]="sids.TERMS_CON" class="privacy-main custom-container">
    <h1 class="heading">Terms of Use</h1>
    <!-- <h2 class="small-heading">Information You Give Us</h2> -->
    <p>
        We hope you love using Vaccsynk. This document contains important information that you need to consider before
        making an important decision.
    </p>
    <!-- <p>PLEASE READ THESE TERMS OF USE CAREFULLY AS THEY CONTAIN IMPORTANT INFORMATION REGARDING YOUR LEGAL RIGHTS, OBLIGATIONS, AND AVAILABLE REMEDIES RESULTING FROM YOUR USE OF THE WEBSITES. THESE INCLUDE VARIOUS LIMITATIONS AND EXCLUSIONS, AS DESCRIBED BELOW.</p> -->

    <div class="second-row-main">
        <!-- <h3 class="small-heading">Your Acceptance Of The Terms</h3> -->
        <p>The following terms and conditions constitute an agreement between you and Vaccsynk(“Vaccsynk,” “we,” or
            “us”), the operator of <a href="https://vaccsynk.com" title="https://vaccsynk.com" class="link">vaccsynk.com</a> and related websites, applications, services, and mobile
            applications provided by Vaccsynk and on/in which these Terms of Use are posted or referenced (collectively,
            the “Services''). These terms of use (the “Terms of Use”) govern your use of the Services, whether or not
            you have created an account. You must agree to and accept all of the terms of this Agreement, or you don’t
            have the right to use the Services.</p>
        <p>BY USING OR OTHERWISE ACCESSING THE SERVICES AND/OR BY CREATING AN ACCOUNT WITH US, YOU AGREE TO THE TERMS OF
            THIS AGREEMENT, INCLUDING THE INFORMATION PRACTICES DISCLOSED IN OUR PRIVACY POLICY, THE USE RESTRICTIONS IN
            THE ACCEPTABLE USE POLICY AND THE TERMS AND CONDITIONS IN THE ADDITIONAL TERMS. IF YOU DO NOT AGREE WITH
            THIS AGREEMENT, YOU CANNOT USE THE SERVICES.</p>
        <p>ARBITRATION NOTICE AND CLASS ACTION WAIVER: YOU AGREE THAT DISPUTES BETWEEN YOU AND US WILL BE RESOLVED BY
            BINDING, INDIVIDUAL ARBITRATION AND THAT YOU WAIVE YOUR RIGHT TO PARTICIPATE IN A CLASS OR COLLECTIVE ACTION
            LAWSUIT, OR CLASS OR COLLECTIVE ARBITRATION.</p>
        <p>Please note that we offer the Services “AS IS” and without warranties. If you create an account or use the
            Services on behalf of an individual or entity other than yourself, you represent that you are authorized by
            such individual or entity to accept this Agreement on such individual’s or entity’s behalf.</p>
        <!-- <p>PLEASE READ THESE TERMS OF SERVICE CAREFULLY BEFORE ACCESSING OR USING THE WEBSITES. BY ACCESSING OR USING THE WEBSITES, YOU AGREE YOU ARE BOUND BY THESE TERMS OF USE IN THEIR ENTIRETY. IF YOU DO NOT AGREE TO ALL THE TERMS AND CONDITIONS INCLUDED WITHIN THESE TERMS, THEN YOU MAY NOT ACCESS OR USE THE WEBSITES.</p> -->

        <!-- <ul class="main-ul">
            <li>The Internet domain name (for example, “ycompany.com” if a private Internet access account is used, or “schoolname.edu” if connecting from a university’s domain) and IP address (an IP address is a number that is automatically assigned to a device when surfing the web)</li>
            <li>Information about your computer or mobile device (e.g., type and version of web browser, operating system, screen resolution, and connection speed)</li>
            <li>The number of times Vaccsynk’s digital media was accessed</li>
            <li>The pages or screens accessed or visited on Vaccsynk’s digital media</li>
            <li>The visit date and time</li>
            <li>If <a class="link" href="#" title="Vaccsynk.com"> www.vaccsynk.com,</a> is designated as a home page (in the event your mobile device allows this functionality); and</li>
            <li>The internet address or URL of the website visited immediately prior to visiting Vaccsynk’s digital media, but only if you connect to <a class="link" href="#" title="Vaccsynk.com">Vaccsynk.com</a>  via a link from any web page within that website.</li>

        </ul> -->

    </div>
    <div class="second-row-main">
        <h3 class="small-heading">1. ABOUT THE SITE </h3>
        <p>Portions of the Services can be viewed without a Vaccsynk account. To benefit from all of the Services we
            offer, you must create a Vaccsynk account and provide certain basic information about yourself, which you
            authorize Vaccsynk to use and disclose as described in our Privacy Policy.</p>
        <p>You acknowledge that although some Content may be provided by healthcare professionals, the provision of such
            Content does not create a medical professional/patient relationship, and does not constitute an opinion,
            medical advice, or diagnosis or treatment, but is provided to assist you in choosing a doctor, dentist or
            other healthcare specialists, professional, provider, organization, or agents or affiliates thereof
            (collectively, “Healthcare Provider”). </p>
        <p> “Content” means content, text, data, graphics, images, photographs, video, audio, information, suggestions,
            guidance, and other materials provided, made available, or otherwise found through the Services and/or Site,
            including, without limitation, Content provided in direct response to your questions or postings. </p>
        <p> WHILE WE MAKE REASONABLE EFFORTS TO PROVIDE YOU WITH ACCURATE CONTENT, WE MAKE NO GUARANTEES,
            REPRESENTATIONS OR WARRANTIES, WHETHER EXPRESSED OR IMPLIED, WITH RESPECT TO PROFESSIONAL QUALIFICATIONS,
            EXPERTISE, QUALITY OF WORK, PRICE OR COST INFORMATION, INSURANCE COVERAGE OR BENEFIT INFORMATION, OR ANY
            OTHER CONTENT AVAILABLE THROUGH THE SERVICES. </p>
        <p> WHILE WE MAKE REASONABLE EFFORTS TO PROVIDE YOU WITH ACCURATE CONTENT, WE MAKE NO GUARANTEES,
            REPRESENTATIONS OR WARRANTIES, WHETHER EXPRESSED OR IMPLIED, WITH RESPECT TO PROFESSIONAL QUALIFICATIONS,
            EXPERTISE, QUALITY OF WORK, PRICE OR COST INFORMATION, INSURANCE COVERAGE OR BENEFIT INFORMATION, OR ANY
            OTHER CONTENT AVAILABLE THROUGH THE SERVICES. </p>
    </div>

    <div class="second-row-main">
        <h3 class="small-heading">2. WE DO NOT PROVIDE MEDICAL ADVICE </h3>
        <p>The Content that you obtain or receive from Vaccsynk, its employees, contractors, partners, sponsors,
            advertisers, licensors, or otherwise through the Services, is for informational, scheduling, and payment
            purposes only. All medically related information, including, without limitation, information shared via
            Vaccsynk Answers, the Vaccsynk blog, Vaccsynk social channels, Vaccsynk emails and text messages, and
            Vaccsynk advertising, comes from independent healthcare professionals and organizations and is for
            informational purposes only.</p>
        <p>WHILE WE HOPE THE CONTENT IS USEFUL IN YOUR HEALTHCARE JOURNEY, IT IS NOT INTENDED AS A SUBSTITUTE FOR, NOR
            DOES IT REPLACE, PROFESSIONAL MEDICAL ADVICE, DIAGNOSIS, OR TREATMENT. DO NOT DISREGARD, AVOID OR DELAY
            OBTAINING MEDICAL ADVICE FROM A QUALIFIED HEALTHCARE PROVIDER, UNDER ANY CIRCUMSTANCE. DO NOT USE THE
            SERVICES FOR EMERGENCY MEDICAL NEEDS.</p>
        <p>IF YOU EXPERIENCE A MEDICAL EMERGENCY, IMMEDIATELY CALL A HEALTHCARE PROFESSIONAL AND 911. YOUR USE OF THE
            CONTENT IS SOLELY AT YOUR OWN RISK. NOTHING STATED OR POSTED ON THE SITE OR AVAILABLE THROUGH ANY SERVICES
            IS INTENDED TO BE, AND MUST NOT BE TAKEN TO BE, THE PRACTICE OF MEDICINE, DENTISTRY, NURSING, OR OTHER
            PROFESSIONAL HEALTHCARE ADVICE, OR THE PROVISION OF MEDICAL CARE.</p>
        <p>We do not recommend or endorse any specific tests, Healthcare Providers, procedures, opinions, or other
            information that may appear through the Services. If you rely on any Content, you do so solely at your own
            risk. We encourage you to independently confirm any Content relevant to you with other sources, including
            the Healthcare Provider’s office, medical associations relevant to the applicable specialty, your state
            medical boards, and the appropriate licensing or certification authorities to verify listed credentials and
            education.</p>
        <p> WHILE WE MAKE REASONABLE EFFORTS TO PROVIDE YOU WITH ACCURATE CONTENT, WE MAKE NO GUARANTEES,
            REPRESENTATIONS OR WARRANTIES, WHETHER EXPRESSED OR IMPLIED, WITH RESPECT TO PROFESSIONAL QUALIFICATIONS,
            EXPERTISE, QUALITY OF WORK, PRICE OR COST INFORMATION, INSURANCE COVERAGE OR BENEFIT INFORMATION, OR ANY
            OTHER CONTENT AVAILABLE THROUGH THE SERVICES. </p>
    </div>

    <div class="second-row-main">
        <h3 class="small-heading">3. NO DOCTOR-PATIENT RELATIONSHIP </h3>
        <p>DOCTORS, DENTISTS, NURSES, AND OTHER MEDICAL PROFESSIONALS USE THE SERVICES TO SHARE CONTENT WITH YOU, BUT
            YOUR USE OF THIS CONTENT IS NOT A SUBSTITUTE FOR HEALTHCARE. NO LICENSED MEDICAL PROFESSIONAL/PATIENT
            RELATIONSHIP IS CREATED WHEN YOU USE THE SERVICES OR CONTENT. </p>
        <p>THIS IS TRUE WHETHER SUCH CONTENT IS PROVIDED BY OR THROUGH THE USE OF THE SERVICES OR THROUGH ANY OTHER
            COMMUNICATIONS FROM VACCSYNK INCLUDING, WITHOUT LIMITATION, THE “FIND A DOCTOR” FEATURE, VACCSYNK ANSWERS,
            VACCSYNK BLOG, VACCSYNK SOCIAL CHANNELS, VACCSYNK EMAILS OR TEXT MESSAGE LINKS TO OTHER SITES, OR ANY
            ASSISTANCE WE MAY PROVIDE TO HELP YOU FIND AN APPROPRIATE HEALTHCARE PROVIDER IN ANY FIELD.</p>
        <p>Vaccsynk encourages Healthcare Providers to use the Services responsibly, but we have no control over, and
            cannot guarantee the availability of, any Healthcare Provider at any particular time. We will not be liable
            for canceled or otherwise unfulfilled appointments, or any injury or loss resulting therefrom, or for any
            other injury or loss resulting from or arising from, or related to, the use of the Site or Services
            whatsoever.</p>
        <p>We do not recommend or endorse any specific tests, Healthcare Providers, procedures, opinions, or other
            information that may appear through the Services. If you rely on any Content, you do so solely at your own
            risk. We encourage you to independently confirm any Content relevant to you with other sources, including
            the Healthcare Provider’s office, medical associations relevant to the applicable specialty, your state
            medical boards, and the appropriate licensing or certification authorities to verify listed credentials and
            education.</p>
    </div>

    <div class="second-row-main">
        <h3 class="small-heading">4. AUTHORIZATION AND ACKNOWLEDGEMENT; IMPORTANT INFORMATION ABOUT HEALTHCARE PROVIDER
            RELATIONSHIPS AND HEALTHCARE PROVIDER LISTS</h3>
        <ul class="a">
            <li class="sec-1">In connection with using the Site and the Services to locate and schedule appointments
                with Healthcare Providers, you understand that:</li><br>
            <li class="sec-1">Vaccsynk or its designee takes certain limited steps to (a) verify that Healthcare
                Providers participating in the Services hold certain active licenses, certifications, or registrations
                required by law to practice the specialties of the services offered by them through the Services, and
                (b) verify that Healthcare Providers are not listed in the U.S. Department of Health and Human Services
                Office of the Inspector General Exclusion database. Vaccsynk may also exclude Healthcare Providers from
                our Services who, in Vaccsynk’s discretion, have engaged in inappropriate or unprofessional conduct.
            </li>
            <li class="sec-1">Some Healthcare Providers listed through the Services enter into contracts with us and may
                pay us a fee in order to be marketed through or to use the Services. To help you find Healthcare
                Providers who may be suitable for your needs, and enable the maximum choice and diversity of Healthcare
                Providers participating in the Services, we will provide you with lists and/or profiles of Healthcare
                Providers. These results are based on information that you provide to us, such as insurance information,
                geographical location, and healthcare specialty.</li>
            <li class="sec-1">They may also be based on other criteria (including, for example, Healthcare Provider
                availability, past selections by and/or ratings of Healthcare Providers by you or by other Vaccsynk
                users, and past experience of Vaccsynk users with Healthcare Providers).</li><br>

            <p>THIS IS TRUE WHETHER SUCH CONTENT IS PROVIDED BY OR THROUGH THE USE OF THE SERVICES OR THROUGH ANY OTHER
                COMMUNICATIONS FROM VACCSYNK INCLUDING, WITHOUT LIMITATION, THE “FIND A DOCTOR” FEATURE, VACCSYNK
                ANSWERS, VACCSYNK BLOG, VACCSYNK SOCIAL CHANNELS, VACCSYNK EMAILS OR TEXT MESSAGE LINKS TO OTHER SITES,
                OR ANY ASSISTANCE WE MAY PROVIDE TO HELP YOU FIND AN APPROPRIATE HEALTHCARE PROVIDER IN ANY FIELD.</p>
            <p>Vaccsynk encourages Healthcare Providers to use the Services responsibly, but we have no control over,
                and cannot guarantee the availability of, any Healthcare Provider at any particular time. We will not be
                liable for canceled or otherwise unfulfilled appointments, or any injury or loss resulting therefrom, or
                for any other injury or loss resulting from or arising from, or related to, the use of the Site or
                Services whatsoever.</p>
            <p>We do not recommend or endorse any specific tests, Healthcare Providers, procedures, opinions, or other
                information that may appear through the Services. If you rely on any Content, you do so solely at your
                own risk. We encourage you to independently confirm any Content relevant to you with other sources,
                including the Healthcare Provider’s office, medical associations relevant to the applicable specialty,
                your state medical boards, and the appropriate licensing or certification authorities to verify listed
                credentials and education.</p>
        </ul>
    </div>


    <div class="second-row-main">
        <h3 class="small-heading">Note that Vaccsynk </h3>
        <!-- <p>By using the Websites, you represent, warrant, and agree:</p> -->
        <ul class="main-ul">
            <li>does not recommend or endorse any Healthcare Providers, </li>
            <li>does not make any representations or warranties with respect to these Healthcare Providers or the
                quality of the healthcare services they may provide, and </li>
            <li>does not receive any additional fees from Healthcare Providers for featuring them (i.e., higher or
                better placement on lists) through the Services (subject to Sponsored Results as described below). </li>
            <li> Note, however, to the extent that you use the Services as provided by your employer, Vaccsynk may
                provide lists and/or profile previews based also on criteria determined by your employer and your
                employer’s agents or advisors. In addition, to the extent that Vaccsynk serves as a platform for, or
                provides technical support to, the provider directory associated with your health coverage, Healthcare
                Providers will appear in the directory based on criteria determined by your health plan or plan sponsor,
                as applicable.</li>
            <li>We may show you advertisements or sponsored results (“Sponsored Results”) on the Site, including above
                the search results. Vaccsynk receives additional fees from Healthcare Providers for providing Sponsored
                Results. </li>
            <li>Sponsored Results shown through the Services are not, and should not be considered, an endorsement or
                recommendation by Vaccsynk of the Healthcare Provider.</li>
            <!-- <li>You will keep secure and confidential your account password or any identification we may provide you which allows access to the Websites; and</li>
            <li>You will provide us with whatever proof of identity we may reasonably request.</li> -->

        </ul>
    </div>

    <div class="second-row-main">
        <h3 class="small-heading">5. THE SERVICES AND CONTENT ARE INFORMATIONAL AND EDUCATIONAL RESOURCES </h3>
        <p>The Services are an informational and educational resource for consumers and Healthcare Providers. We may,
            but have no obligation to, publish Content through the Services that are reviewed by our editorial
            personnel. No party (including Vaccsynk) involved in the preparation or publication of such works guarantee
            that the Content is timely, accurate, or complete, and they will not be responsible or liable for any errors
            or omissions in, or for the results obtained from the use .</p>
        <ul class="main-ul">
            <li>Healthcare Provider: </li>
            <p>1).Healthcare Provider and practice Content is intended for general reference purposes only. Healthcare
                Provider Content may be provided by the Healthcare Provider and/or office staff, and collected from
                multiple other data sources that may not be confirmed by the Healthcare Provider. Such Content can
                change frequently and may become out of date, incomplete, or inaccurate. Neither the Site nor Vaccsynk
                provides any advice or qualification certification about any particular Healthcare Provider.</p>
            <li>Procedures/Products/Services: </li>
            <p>2).Note, however, to the extent that you use the Services as provided by your employer, Vaccsynk may
                provide lists and/or profile previews based also on criteria determined by your employer and your
                employer’s agents or advisors. In addition, to the extent that Vaccsynk serves as a platform for, or
                provides technical support to, the provider directory associated with your health coverage, Healthcare
                Providers will appear in the directory based on criteria determined by your health plan or plan sponsor,
                as applicable.</p>
            <li>Insurance Content: </li>
            <p>3).Insurance and insurance-related Content (including, without limitation, insurance coverage and benefit
                Content) (“Insurance Content '') is intended for general reference purposes and for your convenience
                only. Such Insurance Content may be based on Personal Information (as defined below) you provide to us
                as well as Healthcare Provider Content (such as CPT codes and other encounter data). The Insurance
                Content may be provided either directly by the insurance provider you identify or via a third-party
                clearinghouse. Insurance Content can change frequently and may become out of date, incomplete, or
                inaccurate.</p>
            <p>a) provide accurate and complete insurance-related Personal Information, and </p>
            <p>b) verify and update your insurance-related Personal Information (including, without limitation,
                verifying such Personal Information obtained by automated means from an insurance card you provide).
                Although Vaccsynk strives to provide you with accurate Insurance Content, we are not responsible for any
                inaccurate, incomplete or outdated Insurance Content, and you are responsible for complying with
                subparts </p>
            <!-- <li>You will keep secure and confidential your account password or any identification we may provide you which allows access to the Websites; and</li>
            <li>You will provide us with whatever proof of identity we may reasonably request.</li> -->
        </ul>
    </div>

    <div class="second-row-main">
        <h3 class="small-heading">6. YOUR PERSONAL INFORMATION </h3>
        <p>Protecting patient privacy and keeping your information secure are among our biggest priorities. Our
            <a href="https://vaccsynk.com/privacypolicy" title="https://vaccsynk.com/privacypolicy" class="link">https://vaccsynk.com/privacypolicy</a> details how we may use, share, and maintain the information that you
            voluntarily share with Vaccsynk, which may include, without limitation, your name, address, social security
            number and contact information, insurance information, medical history and current medical needs, billing
            information, and other personally identifiable information (collectively, “Personal Information”).</p>
        <p>You may elect to enter information into a medical history form (“Medical History Form”) on behalf of yourself
            or a third party from whom you have the authorization to provide such information. You can request (and in
            doing so, authorize) Vaccsynk to provide this information to your chosen Healthcare Provider. You
            acknowledge and agree that such information will be reviewed and approved by you or someone authorized by
            you at the time of your appointment to ensure its accuracy. You also acknowledge that Vaccsynk may use the
            data or information you provide in a Medical History Form in accordance with our Privacy Policy.</p>
        <p>We do not recommend or endorse any specific tests, Healthcare Providers, procedures, opinions, or other
            information that may appear through the Services. If you rely on any Content, you do so solely at your own
            risk. We encourage you to independently confirm any Content relevant to you with other sources, including
            the Healthcare Provider’s office, medical associations relevant to the applicable specialty, your state
            medical boards, and the appropriate licensing or certification authorities to verify listed credentials and
            education.</p>
    </div>


    <div class="second-row-main">
        <h3 class="small-heading">7. YOUR RESPONSIBILITIES</h3>
        <ul class="main-ul">
            <li>Your Account Credentials:</li>
            <p>1).When you create a Vaccsynk account, you will provide an email address and create a password
                (collectively, “Credentials''). You should keep your Credentials private and should not share them with
                anyone else. You must immediately notify us if your password has been stolen or compromised by sending
                an email to  <a href="mailto:info@vaccsynk.com" title="info@vaccsynk.com" class="link">info@vaccsynk.com</a> You may also be able to connect to the Services through a third-party
                service, such as Facebook or Google. If you connect to the Services through a third-party service, you
                give us permission to access and use your information from such third party service as permitted by such
                third party service, and to store your log-in credentials for such third party service. Vaccsynk has no
                control over, and assumes no responsibility for, the content, accuracy, privacy policies, or practices
                of or opinions expressed by any such third party.
            </p>
            <li>Your Responsibilities Generally: </li>
            <p>2).The Services are free, but you are still responsible for your healthcare expenses. Usual, customary,
                and any other charges for any medical or related services rendered by Healthcare Providers will apply
                and will be entirely your responsibility. You are responsible for ensuring that all information that you
                provide to Vaccsynk is accurate and up-to-date, including your insurance information. Some Services may
                not be available through Vaccsynk or your Healthcare Provider depending upon a number of factors,
                including your insurance participation. Ultimately, you must resolve any dispute between you or any
                Healthcare Provider arising from any transaction hereunder directly with the Healthcare Provider.
                You are responsible for all use of the Services and for all use of your Credentials, including use by
                others to whom you have given your Credentials. You may only use the Site and the Services for lawful,
                non-commercial purposes. You may not use the Site in any manner that could damage, disable, overburden,
                or impair our servers or networks, or interfere with any other party’s use and enjoyment of the Site or
                the Services. You may not attempt to gain unauthorized access to any of the Services, user accounts, or
                computer systems or networks, through hacking, password mining, or any other means. You may not
                accumulate or index, directly or indirectly, any Content or portion of the Site and/or Services
                (including, without limitation, Healthcare Provider Content, appointment availability, price
                information, and Insurance Content) for any purpose whatsoever.
                You are also responsible for reviewing and complying with the terms set forth in our Acceptable Use
                Policy.
                In addition to our rights in these Terms of Use, we may take any legal action and implement any
                technological measures to prevent violations of the restrictions hereunder and to enforce these Terms of
                Use or our Acceptable Use Policy.
            </p>
            <li>Responsibilities of Healthcare Providers and Others in the Healthcare or Medical Industries </li>
            <p>3).If you are a Healthcare Provider or other person or entity in the healthcare or medical industries,
                regardless of whether you maintain an account with Vaccsynk or whether you schedule or intend to
                schedule appointments (including appointments for Designated Provider Services, as defined in the
                Additional Terms) through the Services, you acknowledge and agree that:</p>
            <p>a) You will not use the Services to view, access, or otherwise use, directly or indirectly, price,
                availability, or other Content for any purpose other than your own personal use as a patient or
                prospective patient.
            </p>
            <p>b) You will not use the Services to establish, attempt to establish, or enforce, directly or indirectly,
                any agreement or coordination of the prices charged for any product or service; the kinds, frequencies,
                or amounts of any product or service offered; or the customer or customer categories for any product or
                service, or otherwise engage or attempt to engage in price-fixing, output restriction, or customer or
                market allocation.
            </p>
            <p>c) You will not use the Services, directly or indirectly, to engage in any anti-competitive, deceptive,
                or unfair practices, or otherwise violate applicable antitrust, competition, or consumer protection
                laws, or regulations.

            </p>
            <!-- <li>You will keep secure and confidential your account password or any identification we may provide you which allows access to the Websites; and</li>
            <li>You will provide us with whatever proof of identity we may reasonably request.</li> -->
        </ul>
    </div>


    <div class="second-row-main">
        <h3 class="small-heading">8.CHANGES TO THE SERVICES; NEW SERVICES; ADDITIONAL TERMS</h3>
        <ul class="main-ul">
            <li>Changes to the Services; New Services: </li>
            <p>1).We may from time to time add new features to the Services, substitute a new service for one of the
                existing Services, or discontinue or suspend one of the existing Services. Under no circumstances will
                Vaccsynk be liable for any suspension or discontinuation of any of the Services or portion thereof, and
                the use of new services will be governed by this Agreement.

            </p>
            <li>Additional Terms: </li>
            <p>2).Some Services may have additional terms (including, without limitation, policies, guidelines, and
                rules) that will further govern your use of that particular Service, and supplement this Agreement. If
                you choose to register for, access, or use any such Services, you may be presented with such additional
                terms, which may also be found in the Additional Terms. By using those Services, you agree to comply
                with any such additional terms, which are incorporated by reference into this Agreement.
            </p>
            <!-- <li>You will keep secure and confidential your account password or any identification we may provide you which allows access to the Websites; and</li>
            <li>You will provide us with whatever proof of identity we may reasonably request.</li> -->
        </ul>
    </div>



    <div class="second-row-main">
        <h3 class="small-heading">9. LINKS TO OTHER WEBSITES</h3>
        <ul class="main-ul">

            <p>While using the Services, you may encounter links to other websites. These links are provided for your
                convenience only and we do not endorse these sites or the products and services they provide. You
                acknowledge and agree that we are not responsible or liable for the content or accuracy of these other
                websites. Although we attempt to link to trustworthy websites, it is possible that they will contain
                materials that are objectionable, unlawful, or inaccurate and we will not be responsible or liable for
                the legality or decency of material contained in or accessed through such other websites.
            </p>

        </ul>
    </div>


    <div class="second-row-main">
        <h3 class="small-heading">10. CONTENT YOU POST OR SUBMIT </h3>
        <ul class="main-ul">

            <p>You will have the opportunity to submit feedback regarding your experiences with Healthcare Providers you
                find through the Services, to submit inquiries concerning possible medical needs, and to participate in
                the other interactive or community features of the Site (collectively, “Posted Information”). It is
                important that you act responsibly when providing Posted Information.
            </p>

            <p>Vaccsynk reserves the right to investigate and, at our discretion, take appropriate legal action against
                anyone who violates these Terms of Use or the Acceptable Use Policy, including without limitation,
                removing any offending communication from the Services and terminating the account of such violators or
                blocking your use of the Services.
            </p>

            <p>By posting Posted Information through the Services, you agree to and hereby do grant, and you represent
                and warrant that you have the right to grant, to Vaccsynk and its contractors an irrevocable, perpetual,
                royalty-free, fully sublicensable, fully paid up, worldwide license to use, copy, publicly perform,
                digitally perform, publicly display, and distribute such Posted Information and to adapt, edit,
                translate, prepare derivative works of, or incorporate into other works, such Posted Information.
            </p>

        </ul>
    </div>

    <div class="second-row-main">
        <h3 class="small-heading">11. YOUR USE OF CONTENT</h3>
        <ul class="main-ul">

            <p>All of the Content is owned by us or our licensors and is protected by copyright, trademark, patent, and
                trade secret laws, other proprietary rights, and international treaties. You acknowledge that the
                Services and any underlying technology or software used in connection with the Services contain
                Vaccsynk’s proprietary information. We give you permission to use the Content for personal,
                non-commercial purposes only and do not transfer any intellectual property rights to you by virtue of
                permitting your use of the Services.
            </p>

            <p>You may print, download, and store information from the Site for your own convenience, but you may not
                copy, distribute, republish (except as permitted in this paragraph), sell, or exploit any of the
                Content, or exploit the Site or Services in whole or in part, for any commercial gain or purpose
                whatsoever.
            </p>

            <p>Except as expressly provided herein, neither Vaccsynk nor its suppliers grant you any express or implied
                rights, and all rights in the Site and the Services not expressly granted by Vaccsynk to you are
                retained by Vaccsynk.
            </p>

        </ul>
    </div>


    <div class="second-row-main">
        <h3 class="small-heading">12. DISCLAIMER</h3>
        <ul class="main-ul">
            <li>We created Vaccsynk to improve patients’ healthcare experience, and we want your experience with
                Vaccsynk to be exceptional. While we work hard to make that happen, you acknowledge that we have no
                control over, and no duty to take any action regarding: </li>
            <p>a) which users gain access to the Site and/or the Services, </p>
            <p>b) what Content you access,
            </p>
            <p>c) what affects the Content may have on you,
            </p>
            <p>d) how you may interpret or use the Content, or
            </p>
            <p>e) what actions you may take as a result of having been exposed to the Content. You release us from all
                liability for you having acquired, you having not acquired, or your use of Content. We make no
                representations or warranties regarding suggestions or recommendations of services or products offered
                or purchased through the Site and/or the Services. We have no special relationship with or fiduciary
                duty to you.
            </p>

            <p>WE PROVIDE THE SERVICES ``AS IS” AND “AS AVAILABLE.” WE MAKE NO EXPRESS OR IMPLIED WARRANTIES OR
                GUARANTEES ABOUT THE SERVICES. TO THE MAXIMUM EXTENT PERMITTED BY LAW, WE HEREBY DISCLAIM ALL SUCH
                WARRANTIES, INCLUDING ALL STATUTORY WARRANTIES, WITH RESPECT TO THE SERVICES AND THE SITE, INCLUDING,
                WITHOUT LIMITATION, ANY WARRANTIES THAT THE SERVICES ARE MERCHANTABLE, OF SATISFACTORY QUALITY,
                ACCURATE, FIT FOR A PARTICULAR PURPOSE OR NEED, OR NON-INFRINGING. </p>
            <p>WE DO NOT GUARANTEE THAT YOU WILL BE ABLE TO ACCESS OR USE THE SERVICES (EITHER DIRECTLY OR THROUGH
                THIRD-PARTY NETWORKS) AT TIMES OR LOCATIONS OF YOUR CHOOSING. WE ARE NOT RESPONSIBLE FOR THE ACCURACY,
                RELIABILITY, TIMELINESS, OR COMPLETENESS OF INFORMATION PROVIDED BY USERS OF THE SERVICES OR ANY OTHER
                DATA OR INFORMATION PROVIDED OR RECEIVED THROUGH THE SERVICES. EXCEPT AS EXPRESSLY SET FORTH HEREIN,
                VACCSYNK MAKES NO WARRANTIES ABOUT THE INFORMATION SYSTEMS, SOFTWARE AND FUNCTIONS MADE ACCESSIBLE
                THROUGH THE SERVICES OR ANY OTHER SECURITY ASSOCIATED WITH THE TRANSMISSION OF SENSITIVE INFORMATION.
            </p>
            <p>VACCSYNK DOES NOT WARRANT THAT THE SITE OR THE SERVICES WILL OPERATE ERROR-FREE, BUG-FREE OR FREE FROM
                DEFECTS, THAT LOSS OF DATA WILL NOT OCCUR, OR THAT THE SERVICES, SOFTWARE OR SITE ARE FREE OF COMPUTER
                VIRUSES, CONTAMINANTS OR OTHER HARMFUL ITEMS.</p>

            <!-- <li>You will keep secure and confidential your account password or any identification we may provide you which allows access to the Websites; and</li>
            <li>You will provide us with whatever proof of identity we may reasonably request.</li> -->
        </ul>
    </div>


    <div class="second-row-main">
        <h3 class="small-heading">14. TERMINATION</h3>
        <ul class="main-ul">

            <p>If you’re not using the Service appropriately, we’ll want to work with you to set things straight. But we
                reserve the right if we determine it is best, to terminate, suspend and/or deactivate your account
                immediately, without notice, if there has been a violation of this Agreement or other policies and terms
                posted on the Site or through the Services by you or by someone using your Credentials.
            </p>

            <p>We may also terminate, suspend or deactivate your account for any other reason, including inactivity for
                an extended period. VACCSYNK shall not be liable to you or any third party for any termination,
                suspension, or deactivation of your access to the Site and/or the Services.
            </p>

            <p>Further, you agree not to attempt to use the Site and/or the Services after any such termination,
                suspension, or deactivation (except where deactivation is due solely to inactivity, and you are
                permitted to create another account).
            </p>

            <p><b>Sections 1, 2, 3, 4, 6, 8, 10, 11, 12, 13, 14, 15, and 16 shall survive any termination or expiration
                    of these Terms of Use.</b>
            </p>
        </ul>
    </div>

    <div class="second-row-main">
        <h3 class="small-heading">15. INDEMNIFICATION
        </h3>
        <ul class="main-ul">

            <p>Upon a request by us, you agree to defend, indemnify, and hold harmless us, our employees, contractors,
                officers, directors, agents, parent, and other affiliates, from all liabilities, claims, demands, and
                expenses, including attorney’s fees, that arise from or are related to (a) your use of the Site and/or
                Services,
            </p>

            <p> the violation of this Agreement (including without limitation the Terms of Use, the Acceptable Use
                Policy, and the Additional Terms), or of any intellectual property or other rights of any person or
                entity, by you or any person using your Credentials. The foregoing indemnification obligation does not
                apply to liabilities, claims, and expenses arising as a result of our own gross negligence or
                intentional misconduct.
            </p>
        </ul>
    </div>


    <div class="second-row-main">
        <h3 class="small-heading">16. MISCELLANEOUS </h3>
        <ul class="main-ul">
            <li>Electronic Contracting; Copyright Dispute: </li>
            <p>1).Your affirmative act of using the Services and/or creating an account constitutes your electronic
                signature to this Agreement, which includes our Privacy Policy, Acceptable Use Policy and Additional
                Terms, and your consent to enter into such agreements with us electronically.
            </p>
            <li>Changes to These Terms of Use : </li>
            <p>2).We may change these Terms of Use and the other documents that are part of the Agreement at any time,
                as we reasonably deem appropriate. Upon any such change, we will post the amended terms on the Site; we
                may also attempt to notify you in some other way. Your continued use of the Site and/or the Services
                following such posting shall constitute your affirmative acknowledgment of the Terms of Use or other
                applicable Agreement documents, the modification, and agreement to abide and be bound by the Terms of
                Use or other applicable Agreement documents, as amended. We encourage you to periodically review these
                Terms of Use and the Agreement.<br><b>IF AT ANY TIME YOU CHOOSE NOT TO ACCEPT THESE TERMS OF USE OR THE
                    AGREEMENT, INCLUDING FOLLOWING ANY SUCH MODIFICATIONS HERETO, THEN YOU MUST STOP USING THE SITE AND
                    THE SERVICES.</b></p>

            <li> Limitation of Claims</li>
            <p>3).No action arising under or in connection with this Agreement, regardless of the form, may be brought
                by you more than one (1) year after the cause of action arose; actions brought thereafter are forever
                barred. </p>

            <li> Choice of Law; Arbitration Clause and Class Action Waiver – Important – Please Review as This Affects
                Your Legal Rights </li>
            <p>4).We hope that we can work out any disagreements you might have with Vaccsynk. But if there is a dispute
                that needs to be further resolved, that process will take place according to this section. This
                Agreement shall be deemed to have been entered into and shall be construed and enforced in accordance
                with the laws of the State of New York as applied to contracts made and to be performed entirely within
                New York, without giving effect to the state’s conflicts of law statute. </p>
            <p> <b> YOU AGREE THAT ALL DISPUTES BETWEEN YOU AND US (WHETHER OR NOT SUCH DISPUTE INVOLVES A THIRD PARTY)
                    WITH REGARD TO YOUR RELATIONSHIP WITH US, INCLUDING, WITHOUT LIMITATION, DISPUTES RELATED TO THIS
                    AGREEMENT, YOUR USE OF THE SERVICES, AND/OR RIGHTS OF PRIVACY AND/OR PUBLICITY, WILL BE RESOLVED BY
                    BINDING, INDIVIDUAL ARBITRATION UNDER THE AMERICAN ARBITRATION ASSOCIATION’S RULES FOR ARBITRATION
                    OF CONSUMER-RELATED DISPUTES, AND YOU AND WE HEREBY EXPRESSLY WAIVE TRIAL BY JURY. </b></p>
            <p> <b> Neither you nor we will participate in a class action or class-wide arbitration for any claims
                    covered by this Agreement to arbitrate. YOU ARE WAIVING THE ABILITY TO PARTICIPATE AS A CLASS
                    REPRESENTATIVE OR MEMBER IN ANY CLASS OR COLLECTIVE CLAIM YOU MAY HAVE AGAINST US INCLUDING ANY
                    RIGHT TO CLASS OR COLLECTIVE ARBITRATION OR ANY CONSOLIDATION OF INDIVIDUAL ARBITRATIONS. </b></p>
            <p> You also agree not to participate in claims brought in a private attorney general or representative
                capacity, or consolidated claims involving another person’s account, if we are a party to the
                proceeding. This dispute resolution provision will be governed by the Federal Arbitration Act and not by
                any state law concerning arbitration. </p>
            <p> Judgment on the award rendered by the arbitrator may be entered in any court having competent
                jurisdiction. Any provision of applicable law notwithstanding, the arbitrator will not have authority to
                award damages, remedies, or awards that conflict with these Terms of Use or the Agreement. </p>


            <li> Severability </li>
            <p>In the event any one or more of the provisions of this Agreement shall for any reason be held to be
                invalid, illegal, or unenforceable, the remaining provisions of this Agreement shall be unimpaired.
                Further, the invalid, illegal or unenforceable provision shall be replaced by a provision that comes
                closest to the intention of the parties that underlie the invalid, illegal or unenforceable provision,
                except to the extent no such provision is valid, legal, and enforceable, in which case such invalid,
                illegal or unenforceable provision shall be limited or eliminated to the minimum extent necessary so
                that the other provisions of this Agreement remain in full force and effect and enforceable. </p>

            <li> Entire Agreement </li>
            <p>This Agreement and any supplemental terms, policies, rules, and guidelines posted through the Services,
                each of which is incorporated herein by reference, including the <a href=" https://vaccsynk.com/privacypolicy " title=" https://vaccsynk.com/privacypolicy " class="link"> https://vaccsynk.com/privacypolicy </a> and
                the  <a href=" https://vaccsynk.com/termsandconditions" title="https://vaccsynk.com/termsandconditions" class="link"> https://vaccsynk.com/termsandconditions</a>, constitute the entire agreement between you and us and
                supersede all previous written or oral agreements.</p>
            <p>If any part of this Agreement is held invalid or unenforceable, that portion shall be construed in a
                manner consistent with applicable law to reflect, as nearly as possible, the original intentions of the
                parties, and the remaining portions shall remain in full force and effect. The failure of Vaccsynk to
                exercise or enforce any right or provision of this Agreement shall not constitute a waiver of such right
                or provision.</p>
            <p>The failure of either party to exercise in any respect any right provided for herein shall not be deemed
                a waiver of any further rights hereunder. </p>

            <li>Headings </li>
            <p>The headings of the sections of this Agreement are for convenience only, do not form a part hereof, and
                in no way limit, define, describe, modify, interpret or construe the meaning, scope, or intent of this
                Agreement or any terms or conditions therein.</p>
            <p>If any part of this Agreement is held invalid or unenforceable, that portion shall be construed in a
                manner consistent with applicable law to reflect, as nearly as possible, the original intentions of the
                parties, and the remaining portions shall remain in full force and effect. The failure of Vaccsynk to
                exercise or enforce any right or provision of this Agreement shall not constitute a waiver of such right
                or provision.</p>
            <p>The failure of either party to exercise in any respect any right provided for herein shall not be deemed
                a waiver of any further rights hereunder. </p>
                
            <li>Assignment</li>
            <p>We may assign this Agreement at any time, including, without limitation, to any parent, subsidiary, or any affiliated company, or as part of the sale to, merger with, or other transfer of our company to another entity. You may not assign, transfer or sublicense this Agreement to anyone else and any attempt to do so in violation of this section shall be null and void.
            </p>

            <li>Eligibility
            </li>
            <p>You must be 18 years of age or over, or the legal age to form a binding contract in your jurisdiction if that age is greater than 18 years of age, to create an account with us or use the Site and the Services. If you are between the ages of 13 and 18 or the applicable legal age in your jurisdiction, you can use the Site or Services only under the supervision of your parent or guardian who has agreed to these Terms of Use.
            </p>

            <p>Those under the age of 13 may not use the Site or Services. Parents or legal guardians of a child under the age of 18 may use the Site or Services on behalf of such a minor child. By using the Site or Services on behalf of a minor child, you represent and warrant that you are the parent or legal guardian of such child and that all references in these Terms of Use to “you” shall refer to such child or such other individual on whose behalf you have the authorization to enter into these Terms of Use and you in your capacity as the parent or legal guardian of such child or as the authorized party of such individual.
            </p>

            <p>If you do not qualify under these Terms of Use, do not use the Site or Services. Use of the Services is void where prohibited by applicable law, and the right to access the Site is revoked in such jurisdictions. By using the Site and/or the Services, you represent and warrant that you have the right, authority, and capacity to enter into these Terms of Use. The Site is administered in the U.S. and intended for U.S. users only; any use outside of the U.S. or use related to activities outside of the U.S. is prohibited and at the user’s own risk. Users are responsible for compliance with any local, state, or federal laws applicable to their use of the Services or the Site
            </p>
            <!-- <li>You will keep secure and confidential your account password or any identification we may provide you which allows access to the Websites; and</li>
            <li>You will provide us with whatever proof of identity we may reasonably request.</li> -->
        </ul>
    </div>

    <div class="second-row-main">
        <h3 class="small-heading">Contact Vaccsynk</h3>
        <p>Nishe Health<br />
            <a href="mailto:info@vaccsynk.com" title="info@vaccsynk.com" class="link">info@vaccsynk.com</a>
        </p>
    </div>

</div>